@keyframes fade {
    0% {
      opacity: 0.6; /* Ảnh mờ dần từ đầu */
    }
    50% {
      opacity: 0.8; /* Ảnh mờ dần ở giữa */
    }
    100% {
      opacity: 1; /* Ảnh hiển thị đầy đủ cuối cùng */
    }
  }
  
  .box:hover img {
    animation: fade .6s ease; /* Thời gian và hiệu ứng chuyển đổi */
  }