.menu-footer,.another {
    ul {
        li {
            position: relative;
            transition: all 0.3s ease-in-out;

            &::before {
                content: "->";
                position: absolute;
                left: -20px;
                opacity: 0;
            }

            &:hover {
                cursor: pointer;
                &::before {
                    content: "->";
                    position: absolute;
                    left: 0;
                    opacity: 1;
                    transition: all 0.3s ease-in-out;
                }

                padding-left: 20px;
            }
        }
    }
}